<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1" />
        <title>{% block title %}TaskLinker{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div id="auth-page">
            <a href="{{ path('app_login') }}" id="auth-logo">
                <img src="{{ asset('img/logo.png') }}" alt="Logo TaskLinker" />
            </a>
            <div id="auth-card">
                <h1>{% block auth_title %}{% endblock %}</h1>
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
